<table style='width: 900px; text-align:center;'>
  <tbody>
  <tr>
    <td align='center' class='contestant'>
      <span id="name1"></span> (<a href='#'>See her story</a>)
      <br>
      <div class='image'>
        <img alt='1' height='282' src='http://couter.s3.amazonaws.com/snaps/clark_web.jpg' width='300'>
        <h2>
          <span id='votes1'></span>
        </h2>
        </img>
      </div>
      </br>
      <div id='submit1'>
        <input class='btn' id='contestant1' type='submit' value='Vote!' />
        <div id='confirm1'>
          <span id='question1'></span>
          <input class='medium' id='math1' maxlength='2' name='math1' size='2' style='width: 50px;' type='text'>
          <input class='btn' id='submitMath1' type='submit' value='Submit your vote!' />
          </input>
        </div>
        <div id='message1'></div>
      </div>
    </td>
    <td align='center' class='contestant'>
      <span id="name2"></span> (<a href='#'>See her story</a>)
      <br>
      <div class='image'>
        <img alt='2' height='282' src='http://couter.s3.amazonaws.com/snaps/davis_web.jpg' width='300'>
        <h2>
          <span id='votes2'></span>
        </h2>
        </img>
      </div>
      </br>
      <div id='submit2'>
        <input class='btn' id='contestant2' type='submit' value='Vote!' />
        <div id='confirm2'>
          <span id='question2'></span>
          <input class='medium' id='math2' maxlength='2' name='math2' size='2' style='width: 50px;' type='text'>
          <input class='btn' id='submitMath2' type='submit' value='Submit your vote!' />
          </input>
        </div>
        <div id='message2'></div>
      </div>
    </td>
    <td align='center' class='contestant'>
      <span id="name3"></span> (<a href='#'>See her story</a>)
      <br>
      <div class='image'>
        <img alt='3' height='282' src='http://couter.s3.amazonaws.com/snaps/Screenshot_20140605_204925.png' width='300'>
        <h2>
          <span id='votes3'></span>
        </h2>
        </img>
      </div>
      </br>
      <div id='submit3'>
        <input class='btn' id='contestant3' type='submit' value='Vote!' />
        <div id='confirm3'>
          <span id='question3'></span>
          <input class='medium' id='math3' maxlength='2' name='math3' size='2' style='width: 50px;' type='text'>
          <input class='btn' id='submitMath3' type='submit' value='Submit your vote!' />
          </input>
        </div>
        <div id='message3'></div>
      </div>
    </td>
  </tr>
  </tbody>
</table>
<br>
<div style="width: 100px; margin-left: auto; margin-right: auto;">Totals are updated once per minute.</div>
