<h1>Listing api_votes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @api_votes.each do |api_vote| %>
      <tr>
        <td><%= link_to 'Show', api_vote %></td>
        <td><%= link_to 'Edit', edit_api_vote_path(api_vote) %></td>
        <td><%= link_to 'Destroy', api_vote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote', new_api_vote_path %>
