<!DOCTYPE html>
<html>
<head>
  <title>Vote</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css' rel='stylesheet'>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" %>
  <%= javascript_include_tag "application" %>
</head>
<body>

<%= yield %>

</body>
</html>
